.header{
  background-image: url("/imgs/baitballanddiver.jpg");
  background-position: center;
  background-size: cover;
  height: 120vh;
  display: flex;
  justify-content: space-around;
  //align-items: flex-start;
  position: relative;
//  z-index: -2;
  // clip-path:polygon(0 0, 100% 0, 100% 110vh, 0 100vh);

  &::after{

    content: "";
    display: inline;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba($background-light,.2);
  //  z-index: 1;
  }
  &_box{
    padding: 5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 2;
  }
}
