.header-nav{
  position: fixed;
  width: 100%;

  &_list{
    display: flex;
    justify-content: space-around;
  }
  &_item{
    list-style: none;
  }
  &_link{
    text-decoration: none;
    color: $secondary;
  }
}
