.header-nav{
  position: fixed;
  width: 100%;
  z-index: 20;
  &_list{
    display: flex;
    justify-content: space-around;
  }
  &_item{
    list-style: none;
  }
  &_link{
    text-decoration: none;
    color: $secondary;
    text-shadow: $shadow-sm;
    transition: $transition;
    &:hover{
      font-size: $font-size-hover;
      text-shadow: $shadow-lg;
    }
  }
}
