.header-nav{
  position: fixed;
  width: 100%;
  z-index: 20;
  transition: $transition;
  &_list{
    display: flex;
    justify-content: space-around;
  }
  &_item{
    list-style: none;
  }
  &_link{
    text-decoration: none;
    color: $secondary;
    text-shadow: $shadow-sm;
    transition: $transition-underline;
    &:hover{
      // font-size: $font-size-hover;
      // text-shadow: $shadow-lg;
      border-bottom: solid 2px $secondary;
    }
  }
}

.footer__nav{
  list-style: none;
  &-item{
    padding: 1rem;
  }
  &-link{
    text-decoration: none;
    transition: $transition-underline;
    &:hover{
      border-bottom: solid 2px $primary;
    }
  }
}
