@mixin hover{
  box-shadow:$shadow-sm;
  transition: all .5s;
  &:hover{
    transform: scale(1.05);
    box-shadow:$shadow-lg;
    z-index: 1;
  }
}

@mixin grid2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media only screen and (max-width: 1000px){
    grid-template-columns: 1fr;
  }
}

@mixin respond($breakpoint){
  @if $breakpoint==tab {
    @media only screen and (max-width: 1000px){@content};
  }
  @if $breakpoint==xs {
    @media only screen and (max-width: 600px){@content};
  }
}
