// colors
$white:#fff;
$background-light:#CCDAD1;
$primary:#5899E2;
$secondary:#1B2845;
$background-dark:#404E5C;
$background-med:#707070;

//fonts
$font-text:"Comic Sans MS", cursive, sans-serif;
$font-primary:'bulgattiregular';
